body {
    max-width:min-content;
}
/*.card-grid {
    display: flex;
    flex-direction: column;
}*/

.row-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    margin: 2rem;
    justify-content: space-between;
}

.col-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
    margin: 2rem;
}